body {
    background: linear-gradient(90deg, #f2fafc 0%, rgb(226, 242, 247) 30%, rgb(211, 235, 255) 65%);
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 50px;
}

.cart-summary {
    width: 350px;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 350px;
}

.cart-summary h2 {
    text-align: center;
    margin-top: 0;
}

#cart-items {
    max-height: 600px;
    overflow-y: auto;
}

.cart-item {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-item .details {
    flex-grow: 1;
}

.cart-item .details p {
    margin: 5px 0;
}

.total-cost {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.checkout-container {
    width: 500px;
    max-height: 100%;
    background-color: azure;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.checkout-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-container form {
    margin-top: 20px;
}

.checkout-container label {
    display: block;
    margin-bottom: 10px;
}

.checkout-container input,
.checkout-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkout-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #219d51;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.5s ease,color 0.5s ease;
    border: 1px solid #219d51;
}

.checkout-container button[type="submit"]:hover {
    background-color:#fff;
    color: #219d51;
}
h1
{
    margin-left: 20px;
}